.logo{
    position: absolute;
    left: 36.23%;
    right: 36.81%;
    top: 9.86%;
    bottom: 80.27%;
    background: linear-gradient(134.24deg, #195DFE -1.37%, #0535F1 100%);
}
 .reset-pwd{
    color:'black';
    font-size:larger;
    font-family:'gotham';
    font-weight:'bold';
 }

 .box{
    display: flex;
    
 }